@{
	Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
	ViewData["Title"] = "Inicio - Alumno";
}

@model AprendeMasWeb.Models.DBModels.tbMaterias
@*
<h2>@Model.NombreMateria</h2>
<p>@Model.Descripcion</p>
<p>@Model.CodigoAcceso</p>

 *@




<!-- Contenedor principal de la sección de materia -->
<div class="materia-container">
	<div class="materia-header" id="materiaHeader">
		<h2>@Model.NombreMateria</h2>
		<div class="materia-info">
			<span>Código de clase: <strong id="codigoAcceso">@Model.CodigoAcceso</strong></span>
			<i class="fas fa-cog"></i>
		</div>
	</div>

	<!-- Agregar pestañas para cambiar entre secciones -->
	<ul class="nav nav-tabs" id="grupoTabs">
		<li class="nav-item">
			<a class="nav-link active" id="avisos-tab" data-bs-toggle="tab" href="#avisos">Avisos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" onclick="cargarActividades(15)" id="actividades-tab" data-bs-toggle="tab" href="#actividades">Actividades</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="alumnos-tab" data-bs-toggle="tab" href="#alumnos">Alumnos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="calificaciones-tab" data-bs-toggle="tab" href="#calificaciones">Calificaciones</a>
		</li>
	</ul>


	<!-- Contenido de cada pestaña -->
	<div class="tab-content mt-3">
		<div class="tab-pane fade show active" id="avisos">
			
			<div id="contenidoAvisos"></div>
		</div>
		<div class="tab-pane fade" id="actividades">
			
			<div id="contenidoActividades"></div>
		</div>
		<div class="tab-pane fade" id="alumnos">
			<h3>Alumnos</h3>
			<div id="contenidoAlumnos"></div>
		</div>
		<div class="tab-pane fade" id="calificaciones">
			<h3>Calificaciones</h3>
			<div id="contenidoCalificaciones"></div>
		</div>
	</div>

</div>